<form method="post" action="/components/<%= @component.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Your component's name:</p>
  <input type="text" value="<%= @component.name %>" name="name">
  <p>Your component's description:</p>
  <input type="text" value="<%= @component.description %>" name="description">
  <p>Your component's category:</p>
  <ul style="list-style: none">
  <% Category.all.each do |category| %>
    <li><label for="<%= "#{category.id}" %>"><%= category.name %></label>
    <input type="radio" name="category_id" id="<%= category.id %>" value="<%=category.id %>" <%= "checked=\"checked\"" if category.id == @component.category.id %></li>
  <% end if Category.all %>
  </ul>
  <input type="submit" value="submit">
</form>