<div class="jumbotron text-center">
  <h1><%= @component.name %></h1>
  <h2>Component</h2>
</div>
<h3>User</h3>
<p><%= @component.category.user.username %></p>
<hr>
<h3>Category</h3>
<p><%= @component.category.name %></p>
<hr>
<h3>Description</h3>
<p><%= @component.description %></p>
<hr>
<p><a href="/components/<%= @component.id %>/edit">Edit Component</a></p>
<form method="post" action="/components/<%= @component.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Component">
</form>
<hr>
<p><a href="/components">Back to all components.</a></p>