<div class="jumbotron text-center">
  <h1><%= @user.username %></h1>
  <h2>User</h2>
</div>
<h3>Categories</h3>
<% @categories.each do |category| %>
  <hr>
  <h4><%= category.name %></h4>
  <p><%= category.description %></p>
  <hr>
<% end if @categories %>
<%= "<hr>" if @categories.count == 0 %>
<h3>Components</h3>
<% @components.each do |component| %>
  <h4><%= component.name %></h4>
  <p><%= component.description %></p>
<% end if @components %>
<%= "<hr>" if @components.count == 0 %>