<div class="jumbotron text-center">
  <h1><%= @category.name %></h1>
  <h2>Edit category</h2>
  <% if flash[:error] %>
    <% flash[:error].each do |warning| %>
      <p><%= warning %></p>
    <% end %>
  <% end %>
</div>
<form method="post" action="/categories/<%= @category.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <div class="form-group">
    <label for="name">Category name</label>
    <input type="text" class="form-control" id="name" value="<%= @category.name %>" name="name">
  </div>
  <div class="form-group">
    <label for="description">Category description</label>
    <input type="text" class="form-control" id="description" value="<%= @category.description %>" name="description">
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>