<p><%= @category.user.username %>'s category is called:</p>
<p><%= @category.name %></p>
<p>The description of <%= @category.name %> provided by <%= @category.user.username %> is:</p>
<p><%= @category.description %></p>
<p><a href="/categories/<%= @category.id %>/edit">Edit Category</a></p>
<form method="post" action="/categories/<%= @category.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Category">
</form>
<p><a href="/categories">Back to all categories.</a></p>